{% extends 'header.html' %}

{% block wrapper %}
  <div id="content">
    <ul class="company">
    {% for i in context %}
      <li class="show">
        <div class="text">
          <a class="name" target="_blank" title="{{ i.name }}" href="{% url 'company' i.id %}">{{ i.name }}</a>
          <br />
          <a class="brief" target="_blank" title="{{ i.name }}" href="{% url 'company' i.id %}">{{ i.brief }}</a>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

<!--
-->
