@Import url(init.css);

body {
  background-image: url(/static/img/bg.gif);
}   

li {
  list-style-type: none;
} 

a {
  text-decoration: none;
}

img {
  opacity: 0.95;
}

img:hover {
/*  border-radius: 50px;*/
  opacity: 1;
}


#topnav {
  background-color: #545652;
  margin: -10px -10px 0px -10px;
  height: 35px;
  width: auto;
}   

#topnav .nav-ul .nav-li {
  float: left;
  padding: 12px 15px 15px 15px; /* hover range can be extend */
  font-size: 14px;
  margin: 0 50px;
}

#topnav .ul-account .li-account {
  float: right;
  padding: 12px 15px 15px 15px; /* hover range can be extend */
  margin: 0 50px;
  font-size: 14px;
}

#topnav .nav-li .nav-link,
#topnav .ul-account .li-account .a-account {
  color: #ccc;
}
#topnav .nav-li:hover .nav-link,
#topnav .ul-account .li-account:hover .a-account {
  color: #fff;
}



#nav-wrap .nav-primary {
  width: 960px;
  margin: 0px auto;
  padding: 20px 0px;
}

#nav-wrap .nav-logo {
  float: left;
  width: 150px;
  margin: 0px 30px 0px 0px;
}

#nav-wrap .nav-logo a {
  color: #614e3c;
}

#nav-wrap .nav-search {
  padding: 10px 0px;
}

#nav-wrap .nav-search fieldset {
  border: 0px; /* get ugly frame off */
}
#nav-wrap .nav-search legend {
  display: none; /* get text off */
}
#nav-wrap .nav-search input {
  border: 0px; /* get search frame border off */
}

#nav-wrap .nav-search #inp-query {
  float: left;
  width: 400px;
  height: 30px;
  padding: 0px 0px 0px 12px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #aaa;
}

#nav-wrap .nav-search .search_submit {
  width: 37px;
  height: 30px;
  background: url(/static/img/nav_search.png) no-repeat 0 -40px;
}

