#content {
  width: 960px;
  margin: auto;
}

#content .company {
  overflow: hidden;
}

#content .company .show {
  float: left;
  padding: 10px 10px;
  width: 170px;
  height: 100px;
}

#content .company .show .text {
  cursor: pointer;
  position: relative;
}

#content .company .show .text a {
  color: #ffffff;
  text-shadow: 0px 1px 3px #000000;
}

#content .company .show .text a.brief {
/*  text-overflow: ellipsis;
 */
}

#content .company .show .text .jsfloat {
  position: absolute;
  left: 170px;
  top: -20px;
  width: 200px;
  height: 140px;
  display: none;
}

