@Import url(init.css);

#content {
  width: 960px;
  margin: auto;
}

#content .company {
}

#content .company .show {
  float: left;
  padding: 10px 10px;
  width: 170px;
  height: 100px;
}

#content .company .show .text {
  cursor: pointer;
  position: relative;
}

#content .company .show .text a {
  color: #ffffff;
  text-shadow: 0px 1px 3px #000000;
}

#content .company .show .text a.brief {
/*  text-overflow: ellipsis;
 */
}

#content .company .show .text .jsfloat {
  position: absolute;
  left: 170px;
  top: -20px;
  width: 150px;
  height: 170px;
  color: #666;
  border: solid 1px #acacac;
  border-radius: 3px;
  background: #f9f9f7;
  padding: 12px 10px 2px;
  box-shadow: 0px 1px 1px #fdfdfd, 0px 1px 1px #dcdbd4;
  z-index: 99;
  display: none;
}

#content .company .show .text .jsfloat .title {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
#content .company .show .text .jsfloat .description {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
}
#content .company .show .text .jsfloat .arrow1 {
  position: absolute;
  height: 0px;
  width: 0px;
  border: 8px solid transparent;
  border-right-color: #acacac;
  right: 100%; /* shift from the right */
  top: 50%;
  margin-top: -8px; /* top 50% begin the 10px border */
}
#content .company .show .text .jsfloat .arrow2 {
  position: absolute;
  height: 0px;
  width: 0px;
  border: 7px solid transparent;
  border-right-color: #f9f9f7;
  right: 100%;
  top: 50%;
  margin-top: -7px;
}

