.allstar50 { background-position: 0 0; }
.allstar45 { background-position: 0 -11px; }
.allstar40 { background-position: 0 -22px; }
.allstar35 { background-position: 0 -33px; }
.allstar30 { background-position: 0 -44px; }
.allstar25 { background-position: 0 -55px; }
.allstar20 { background-position: 0 -66px; }
.allstar15 { background-position: 0 -77px; }
.allstar10 { background-position: 0 -88px; }
.allstar05 { background-position: 0 -99px; }
