@Import url(init.css);

#suggestion {
  width: 960px;
  margin: auto;
}

#suggestion .suggest fieldset {
  border: 0px; /* get ugly frame off */
}

#suggestion .suggest .contractus {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}
