{% extends 'header.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/homepage.css"></link>
{% endblock %}

{% block wrapper %}
  <div id="content">
    <ul class="company">
    {% for i in context %}
      <li class="show">
        <div class="text">
          <a class="name" target="_blank" title="{{ i.name }}" href="{% url 'critique:company' i.id %}">{{ i.name }}</a>
          <br />
          <a class="brief" target="_blank" title="{{ i.name }}" href="{% url 'critique:company' i.id %}">{{ i.brief|truncatechars:40 }}</a>
          <div class="jsfloat">
            <div class="arrow1"></div>
            <div class="arrow2"></div>
            <p class="title">{{ i.name }}</p>
            <p class="description">{{ i.brief|truncatechars:95 }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
      <li class="clear"></li>
    </ul>
  </div>
{% endblock %}


{% block js %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/homepage.js"></script>
{% endblock %}
